<div class="container">
  <h4>{{'CARDBOX_OVERVIEW_TITLE' | translate}}</h4>
  <ul class="list-group">
    <li *ngFor="let cardbox of cardboxes; let idx = index"
        class="list-group-item d-flex justify-content-between align-items-center cardbox-counter--{{cardbox.id}}">
      <div class="cardbox--identifier">
        #{{cardbox.id}}
      </div>

      <div class="cardbox--words">
        {{cardbox.wordCount}} / {{cardbox.overflow}} {{'CARDBOX_OVERVIEW_WORDS' | translate}}
      </div>
    </li>
  </ul>
</div>
