
.list-group {

  // reset the default list item's padding so that the cardbox-ID can draw a vertical line
  .list-group-item {
    padding: 0 !important;

    div {
      padding: 10px 20px;
    }

    .cardbox--identifier {
      border-right: 1px solid rgba(0,0,0,0.125) !important;
    }
  }
}
