<div class="row">


  <!-- ========  ORIGINAL  ======== -->
  <!--
  <div>
    <div class="card mb-3" style="max-width: 25rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Card Title</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  -->


  <div class="note-wrapper">
    <div class="note" (click)="toggleFlip()" [@flipState]="flip">
      <div class="note__side note__side--front --with-header">
        <div class="--header">&laquo;{{ getForeignMeaning() }}&raquo;</div>
        <div class="--body">
          <span style="font-size:2em">?</span>
        </div>
      </div>
      <div class="note__side note__side--back --with-header">
        <div class="--header">&laquo;{{ getForeignMeaning() }}&raquo;</div>
        <div class="--body">
          <b>{{ getNativeMeaning() }}</b>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="row" style="margin:0">
    <button type="button" class="btn btn-outline-danger" (click)="update(false)">
      {{'FLASHCARD_FAILED' | translate}}
    </button>
    <button type="button" class="btn btn-outline-success" (click)="update(true)">
      {{'FLASHCARD_YEAH' | translate}}
    </button>
  </div>
</div>
