<div class="container">
  <h4>{{'INQUIRY_TITLE' | translate}}</h4>
  <div class="row">
    <p>Alle Wörter, die vom Backend geladen worden sind, werden hier im Karteikärtchen-Modus nacheinander abgefragt.</p>
    <hr>

    <app-flashcard *ngIf="expression" [expression]="expression"></app-flashcard>

    <div *ngIf="!expression">
      <p>alle Wörtli abgearbeitet --> weitere laden?</p>
      <button (click)="continue()">[ja]</button>
      <button (click)="stop()">[nein]</button>
    </div>

    <hr>
    <p>
      Je nachdem, ob das Wort bekannt war (oder nicht), wählt man den entsprechenden Button.
      Danach wird das nächste Wort angezeigt, falls es noch nicht-abgefragten Wörter hat.
    </p>
  </div>
</div>
